---
layout: default
title: AgedRum.eu
meta-desc: The best and most complete site to find good rum
meta-keywords: aged,aged rum,agedrum,aged rhum,old rum, old rhum,rum,rhum
menu-index: true
---

<h1>{{page.title}}</h1>



<div>
<img src="img/bottles.jpg">
</div>

<p>
Welcome to AgedRum.eu! This site will help you find the best rum from around the world.
</p>



<h3>Some rums</h3>
<ul class="posts">
<table><tr>
{% for post in site.posts limit:5 %}
    <!-- <span>{{ post.date | date_to_string }}</span> -->
    
    
    <td>    
        
    <p><img src="{{post.small_img_url}}" border="0" width="50" height="75"></p>
        
    <p><a href="{{ post.url }}"> {{ post.title }}</a></p>
    </td>

{% endfor %}

</tr></table>
</ul>

<!--
rums
{% for post in site.categories.rum %}
    <li>{{ post.title }}</li>
{% endfor %}

articles
{% for post in site.categories.article %}
    <li>{{ post.title }}</li>
{% endfor %}

cats
 {% for cat in site.categories %}
 <li>{{ cat }} </li>
{% endfor %}
-->
